.body {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #222;
  padding: 5px;
  color: white;
  display: flex;

  justify-content: space-between;
}
.btn {
  margin-top: 30px;
  color: red;
  transition: 0.3s;
}
.btn:hover {
  color: yellow;
}
